.list{
    background-color: aliceblue;
    width: 70%;
    margin-top: 130px;
    margin-left: 20px;
    font-size: larger;
}
.list>p, .list>p>span{
    background-color: aliceblue;
}
.list>p{
    margin-top: -50px;
    font-size: 3rem;
}
.notSucces>span{
    display: block;
    letter-spacing:5px;
    font-size: 3rem;
    color: rgb(196, 58, 214);
}

.succes,.notSucces{
    color: black;
   display: flex;
}
.succes>span, .notSucces>span{
    display: block;
     width: 80px;
}
