.content {
  margin: auto;
  background-color: aliceblue;
  min-width: 350px;
  min-height: 350px;
  max-width: 500px;
  max-height: 500px;
  box-shadow: 1px 2px 1px 0px #4e4e4b;
  margin-top: 15%;
  border-radius: 20px;
  border-bottom-right-radius: 150px;
}
