* {
  background-color: #f3f2ea;
  font-family: cursive;
}
.form {
  margin: auto;
  background-color: aliceblue;
  border-radius: 20px;
  display: flex;
}
.form > label > input {
  background-color: aliceblue;
  border: 1px solid rgb(207, 220, 231);
  border-radius: 10px;
  font-size: 1.7rem;
  text-align: center;
  width: 95px;
  height: 40px;
  margin-top: -10px;
}
.form > label > h4 {
  background-color: unset;
}
.form > label {
  margin-top: 20px;
  height: 50px;
  background-color: unset;
  margin-left: 20px;
  background-color: unset;
}

.form > button {
  height: 50px;
  width: 100px;
  border: none;
  background-color: unset;
  box-shadow: 0px 1px 1px 0px black;
  border-radius: 10px;
  font-size: larger;
  position: absolute;
  margin-left: 390px;
  margin-top: 90px
}
.form > button:hover {
  background-color: #f0eee3;
  cursor: pointer;
}
.form > button:active {
  background-color: #f3f2ea;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
.form>label>input:focus{
  outline:none;

}
